/*Red #e32f6f*/
/*Green #90c8c7*/
/*Grey #ebeded*/

/*Menu*/
/*MenuButton darkgrey #878989*/
/*Logout soft red #C15A6E*/

.baseButton {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    align-items: center;
}

/*RED BUTTONSTYLING*/
.redButton {
    background-color: #e32f6f;
    color: #ebeded;
}

.redButton:hover {
    background-color: #af2355;
}

/*GREEN BUTTONSTYLING*/
.greenButton {
    background-color: #90c8c7;
    color: #ebeded;
}

.greenButton:hover {
    background-color: #6d9898;
}

/*MENU BUTTONSTYLING*/
.menuSmallButton {
    background-color: #878989;
    color: #90c8c7;
    width: 50px;
    height: 50px;
}

.menuSmallButton:hover {
    background-color: #5b5c5c;
}

.menuButton {
    background-color: #878989;
    color: #90c8c7;
}

.menuButton:hover {
    background-color: #5b5c5c;
}

/*LOG OUT BUTTONSTYLING*/
.logOutButton {
    background-color: #C15A6E;
    color: #ebeded;
}

.logOutButton:hover {
    background-color: #8c4150;
}