.filterBaseButton {
    width: 250px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: none;
    padding-right: 5px;
}

.buttonBox {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.iconStyle {
    display: flex;
}

.buttonText {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    margin-left: 5px;
}

.filterGreenButton {
    background-color: #90c8c7;
    color: #ebeded;
}

.filterGreenButton:hover {
    background-color: #6d9898;
}
