ul li {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 5px 0;
}

.navBaseBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 100%;
    align-items: center;
    background-color: #989A9A;
    transition: 0.5s all;
    overflow-block: hidden;
}

.adminLeftMenu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.navBaseBox--active {
    width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #989A9A;
    transition: 0.5s all;
    overflow-block: hidden;
}