.topBar {
    display: flex;
    background-color: #989A9A;
    width: 100%;
    height: 60px;
    position: relative;
}

.galacticLogo {
    display: flex;
    position: absolute;
    width: 35px;
    height: 50px;
    left: 49%;
    top: 32px;
}

.menuLeft {
    display: flex;
    justify-content: left;
    flex-grow: 2;
    align-items: center;
    margin-left: 5px;
}

.menuRight {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-grow: 2;
}

.menuRight Button {
    margin-right: 5px;
}

.notLoggedIn {
    display: flex;
}

.buttonRight{
    display: flex;
    justify-content: right;
}
