.topBar {
    display: flex;
    background-color: #989A9A;
    max-width: 100vw;
    height: 60px;
    position: relative;
    flex-direction: row;
    transition: 0.1s all;
}

.galacticLogo {
    display: flex;
    position: absolute;
    width: 35px;
    height: 50px;
    left: 50%;
    top: 32px;
}

.leftTopSide{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.menuRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    z-index: 1;
}

.menuRight Button {
    margin-right: 5px;
}

.notLoggedIn {
    display: flex;
    margin-right: 10px;
}

.buttonRight{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
