.topBar {
    display: flex;
    background-color: #989A9A;
    width: 100%;
    height: 60px;
    position: relative;
    justify-content: flex-end;
    transition: 0.1s all;
}

.galacticLogo {
    display: flex;
    position: absolute;
    width: 35px;
    height: 50px;
    left: 50%;
    top: 32px;
}

.menuRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuRight Button {
    margin-right: 5px;
}

.notLoggedIn {
    display: flex;
    padding-right: 10px;
}

.buttonRight{
    display: flex;
    justify-content: right;
}
