.fullAddHuntPageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
    overflow: scroll;
}

.contentAddHuntBox {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    min-width: 400px;
    min-height: 450px;
}

.uploadBox {
    width: 400px;
    height: 200px;
    border: 5px solid #90c8c7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffffff;
}

.uploadBox p {
    color: #6d9898;
}

.uploadBox img {
    max-width: 100%;
    max-height: 100%;
}

.addHuntButton {
    margin-top: 5px;
}

.errorPlace {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.uploadError {
color: #C15A6E;
}

.radioBox {
    display: flex;
    width: 400px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.radioBasis {
    display: flex;
    flex-direction: row;
    width: 100px;
}