.uploadBox {
    width: 400px;
    height: 200px;
    border: 5px solid #90c8c7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffffff;
}

.uploadBox p {
    color: #6d9898;
}

.uploadBox img {
    max-width: 100%;
    max-height: 100%;
}

.addHuntButton {
    margin-top: 5px;
}

.errorPlace {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.uploadError {
color: #C15A6E;
}
