.fullPageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow: scroll;
    border: red 1px solid;
}

.contentBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-width: 400px;
    min-height: 450px;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.rerouteLink {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}