
.horizontalMiniCard {
    height: 230px;
    width: 551px;

    overflow: hidden;
    backdrop-filter: blur(4px);
    align-content: center;
    justify-items: center;

    border-radius: 15px;
    margin-bottom: 16px;
    position: relative;
}

.cardMiniBorder {
    display: flex;
    flex-direction: column;
    width: 535px;
    height: 213px;
    border: 4px solid #ebeded;
    border-radius: 11px;
}

.edittingToolBox {
    display: flex;
    width: 100%;
    height: 30px;
    flex-direction: row;
    border: red 1px solid;
}

.horizontalMiniBackground {
    border-radius: 15px;

    Background-color: rgba(147, 112, 219, 0.5);
}

.horizontalBackground1 {
    background-size: cover;
    background-image: url("../../../../assets/Backgrounds/JPG/HORIZONTAL/BackgroundGalactic.jpg");
}

.horizontalBackground2 {
    background-size: cover;
    background-image: url("../../../../assets/Backgrounds/JPG/HORIZONTAL/BackgroundGalactic2.jpg");
}

.huntBoxProfile {
    display: flex;
    flex-grow: 1;
}