
.horizontalMiniCard {
    height: 230px;
    width: 551px;

    box-shadow: #5b5c5c 5px 5px 9px;
    overflow: hidden;
    backdrop-filter: blur(4px);
    align-content: center;
    justify-items: center;

    border-radius: 15px;
    margin-bottom: 16px;
}

.cardMiniBorder {
    display: flex;
    width: 535px;
    height: 213px;
    border: 4px solid #ebeded;
    border-radius: 11px;
}

.horizontalMiniBackground {
    border-radius: 15px;

    opacity: 50%;
    background-color: mediumpurple;
}

.horizontalBackground1 {
    background-size: cover;
    background-image: url("../../../../assets/Backgrounds/JPG/HORIZONTAL/BackgroundGalactic.jpg");
}

.horizontalBackground2 {
    background-size: cover;
    background-image: url("../../../../assets/Backgrounds/JPG/HORIZONTAL/BackgroundGalactic2.jpg");
}