.baseTextonlyButton {
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #878989;
    color: #90c8c7;
}

.menuTextonlyButtonName {
    display: flex;
    justify-content: center;
}

.baseTextonlyButton:hover {
    background-color: #5b5c5c;
}