
.horizontalCard {
    height: 360px;
    width: 735px;

    overflow: hidden;
    backdrop-filter: blur(4px);

    border-radius: 15px;
}

.horizontalBackground {
    border-radius: 15px;

    background-color: mediumpurple;
}

.horizontalBackground1 {
    background-size: cover;
    background-image: url("../../../assets/Backgrounds/JPG/HORIZONTAL/BackgroundGalactic.jpg");
}

.horizontalBackground2 {
    background-size: cover;
    background-image: url("../../../assets/Backgrounds/JPG/HORIZONTAL/BackgroundGalactic2.jpg");
}