@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------------------------------- 2. Typography ----------------------------------- */


/* ------------------------------- 3. Layout --------------------------------------- */
.appPage {
    display: flex;
    min-height: 100vh;
}

.mainPage {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pageContent {
    flex: 1;
    padding: 1rem;
    overflow: auto;
}


/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */