.fullProfilePageBox {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.profileBox {
    display: flex;
    flex-basis: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profileBox h1{
    display: flex;
    margin-bottom: 20px;
}

.userBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 40px;
}

.textFieldsBox {
    display: flex;
    flex-basis: 400px;
    gap: 16px;
    flex-direction: column;
    width: 50%;
}

.basicTextbox {
    display: flex;
    width: 400px;
    align-items: center;
    padding: 5px;
    min-height: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 5px solid #90c8c7;
}

.basicTextbox p{
    color: #6d9898;
}

.editProfileBox {
    display: flex;
    flex-basis: 40px;
    justify-content: flex-end;
    padding-top: 10px;
}

.huntProfileContainer{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.huntBox {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.huntBox h1{
    display: flex;
    margin-bottom: 20px;
}

.personalHunts {
    height: 700px;
    overflow-y: auto;
    padding-right: 10px;
    scroll-behavior: smooth;
}

.personalHuntsBox {
    display: flex;
}

.buttonHuntBox {
    display: flex;
    width: 550px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}